<!DOCTYPE html>

<html>

<head>

    <title>
        Pagina principal
    </title>

    <style>
        .estilo {
            background-image: url(https://images.pexels.com/photos/265047/pexels-photo-265047.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
            background-size: cover;
            /*background-attachment: fixed;*/
        }

        .encabezado{
            margin-right:300px;
            margin-top:300px;
            font-family:'Lucida Calligraphy';
            font-size:100px;
            color:black;
            text-align-last:center;
        }

       
    </style>

</head>


<body class="estilo" >
    <p class="encabezado" >Bienvenido al</p>
    <p class="encabezado" style="margin-top:0px;" >Formulario</p>
</body>

</html>
